$accent-color: #0085ff;
$text-color: #777777;
$text-color-light: #ffffff;
.settings {
  padding: 50px;
  padding-left: 350px;
  width: 100%;
  h1 {
    font-size: 30px;
    color: $accent-color;
  }
}
